# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CrispArchitecture.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\Projects\CrispArchitechture\.idea\.idea.CrispArchitecture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
